{% extends 'base.html' %}

{% block extrahead %}
<link href="{{url_for('static', filename='css/data.css')}}" rel="stylesheet"/>
<!-- Data Tables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

{% endblock %}

{% block row_header %}
<div class="row row-header">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-4 col-lg-2 text-right">

            <img src="{{url_for('static', filename='img/main/two_cities.jpg')}}" class="img responsive img-header">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
            <div class="row row-summary">
                <h5>The Tale of Two Cities</h5>
                <p>To find out what's the city's woe_id please visit <a target="_blank"
                                                                        href="http://woeid.rosselliot.co.nz/lookup/">
                    woeidlookup.com </a>.
                <p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="dashboard-cards">

    <div class="row row-cards">
        <div class="col-md-3 plain-element">
            <form method="POST" id="twoCities">
                <div class="card form-card">
                    <div class="card-content">
                        <span class="card-title">Specify woe_id of two cities</span>
                        <a class="modal-trigger" href="#modal1">( sample woe_id's )</a>
                        <div class="input-field">
                            <img class="img-responsive prefix"
                                 src="{{url_for('static', filename='img/data/city_1.jpg')}}"/>
                            <input id="city_1" name="city_1" type="number" class="validate" required>
                            <label for="city_1">City #1</label>
                        </div>
                        <div class="input-field">
                            <img class="img-responsive prefix"
                                 src="{{url_for('static', filename='img/data/city_2.jpg')}}"/>
                            <input id="city_2" name="city_2" type="number" class="validate" required>
                            <label for="city_2">City #2</label>
                        </div>

                    </div>

                    <button type="submit" class="btn-card"><span><i class="fas fa-terminal"></i> Submit </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="loader"></div>
        <div class="col-md-2 plain-element"></div>
        <div class="col-md-6 plain-element" id="tweetColumn">
            <div class="card card-table">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-tweets" id="twoCitiesTable">
                        <thead>
                        <tr>
                            <th class="center">Hashtag</th>
                            <th class="center">Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeA">
                            <td class="center">#Act Up</td>
                            <td class="center"><a target="_blank" href="https://twitter.com/search?q=BetrayedMeWhen&src=typd"
                                                  class="waves-effect waves-light btn-small btn-link"><i
                                    class="fab fa-twitter"></i></a></td>
                        </tr>
                        <tr class="odd gradeA">
                            <td class="center">#Act Up</td>
                            <td class="center"><a target="_blank" href="https://twitter.com/search?q=BetrayedMeWhen&src=typd"
                                                  class="waves-effect waves-light btn-small btn-link"><i
                                    class="fab fa-twitter"></i></a></td>
                        </tr>
                        <tr class="odd gradeA">
                            <td class="center">#Act Up</td>
                            <td class="center"><a target="_blank" href="https://twitter.com/search?q=BetrayedMeWhen&src=typd"
                                                  class="waves-effect waves-light btn-small btn-link"><i
                                    class="fab fa-twitter"></i></a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="row row-cards"></div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

<div id="modal1" class="modal">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="center">City</th>
                <th class="center">woe_id</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd gradeA">
                <td class="center">New York</td>
                <td class="center">2459115</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">San Francisco</td>
                <td class="center">2487956</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Sydney</td>
                <td class="center">1105779</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Toronto</td>
                <td class="center">4118</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">London</td>
                <td class="center">44418</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Paris</td>
                <td class="center">615702</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Berlin</td>
                <td class="center">638242</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Rome</td>
                <td class="center">721943</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Warsaw</td>
                <td class="center">523920</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Krakow</td>
                <td class="center">502075</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Dublin</td>
                <td class="center">560743</td>
            </tr>
            <tr class="odd gradeA">
                <td class="center">Cork</td>
                <td class="center">560472</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="{{url_for('static', filename='js/two_cities.js')}}"></script>


{% endblock %}
