{% extends 'base.html' %}

{% block content %}
<div class="row row-title">
    <div class="card card-title">
        <div class="row row-blue">
            <h1><i class="fas fa-file-alt"></i> <i class="fas fa-long-arrow-alt-right"></i> <i
                    class="fas fa-database"></i> &nbsp; Tweet Data ETL </h1>
        </div>
    </div>
</div>
<div class="row row-cards">
    <div class="card card-data">
        <div class="row plain-element text-center">
            <h1>Delete MongoDB Collection</h1>
        </div>

        <div class="card-content">
            <div class="row plain-element text-center">
                <p class="mongoCount">(10/10)</p>
            </div>
            <br>
            {% for element in mongo_hashtags %}
            <div class="col-md-6">
                <div class="row row-form-content rowMongo">
                    <form action="{{url_for('deletecollection')}}" method="POST">
                        <input id="hashtag_collection" name="hashtag_collection" type="hidden" value="{{element}}">
                        <button class="waves-effect waves-light btn button-db" type="submit"><span><i
                                class="fas fa-trash-alt" style=" color: #e63c2e"></i> {{ element }}</span></button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script src="{{url_for('static', filename='js/manage_db.js')}}"></script>


{% endblock %}
