{% extends 'base.html' %}

{% block extrahead %}
<link href="{{url_for('static', filename='css/data.css')}}" rel="stylesheet"/>
{% endblock %}

{% block row_header %}
<div class="row row-header">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-4 col-lg-2 text-right">

            <img src="{{url_for('static', filename='img/main/manage_db.jpg')}}" class="img responsive img-header">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
            <div class="row row-summary">
                <h5>Manage Databases</h5>
                <p>Get rid of obsolete collections from MongoDB, transform & load data to database or delete processed data from DB.</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="dashboard-cards">
    <div class="row row-cards">
        <div class="loader popular-loader"></div>
        <div class="col-md-4">
            <div class="card card-data">
                <div class="card-content card-content-long">
                    <span class="card-title">Delete MongoDB Collection </span>
                    <div class="row plain-element text-center">
                        <p>(10/10)</p>
                    </div>
                    {% for element in mongo_hashtags %}
                    <div class="row row-form-content">
                        <form action="{{url_for('deletecollection')}}" method="POST">
                            <input id="hashtag_collection" name="hashtag_collection" type="hidden" value="{{element}}">
                            <button class="waves-effect waves-light btn button-db" type="submit"><span><i
                                    class="fas fa-trash-alt" style=" color: #e63c2e"></i> {{ element }}</span></button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-data">
                <div class="card-content card-content-long">
                    <span class="card-title">Transform & Load Trend Data</span>
                    <div class="row plain-element text-center">
                        <p>(10/10)</p>
                    </div>
                    {% for element in mongo_hashtags %}
                    <div class="row row-form-content">
                        <form action="{{url_for('datatransform')}}" method="POST">
                            <input id="hashtag_cleaning" name="hashtag_cleaning" type="hidden" value="{{element}}">
                            <button class="waves-effect waves-light btn button-db" type="submit"><span><i class="fas fa-database" style=" color: green"></i> &nbsp; {{ element }}
                                &nbsp; <i class="fas fa-long-arrow-alt-right" style=" color: green"></i></span></button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-data">
                <div class="card-content card-content-long">
                    <span class="card-title">Delete SQL Table</span>
                    <div class="row plain-element text-center">
                        <p>(10/10)</p>
                    </div>
                    {% for element in sqlite_hashtags %}
                    <div class="row row-form-content">
                        <form action="{{url_for('deletetable')}}" method="POST">
                            <input id="hashtag_table" name="hashtag_table" type="hidden" value="{{element[0]}}">
                            <button class="waves-effect waves-light btn button-db" type="submit"><span><i
                                    class="fas fa-trash-alt" style=" color: #e63c2e"></i> {{ element[0] }}</span>
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-1 plain-element"></div>
    </div>
    <div class="row row-cards">


    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>

    </a>
</div>

<script src="{{url_for('static', filename='js/manage_db.js')}}"></script>




{% endblock %}
