{% extends 'base.html' %} {% block content %}

<div class="dashboard-cards">
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="row row-form-title">
                Delete Raw Tweets Collection
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="row row-form-title">
                    Delete Processed Data Table
                </div>
            </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="row row-form-content">
                {% for element in mongo_hashtags %}
                    <form action="{{url_for('deletecollection')}}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input id="hashtag_collection" name="hashtag_collection" type="hidden" value="{{element}}">
                        <button class="waves-effect waves-light btn button-trash" type="submit"><span><i class="fas fa-trash-alt" style=" color: #e63c2e"></i> {{ element }}</span></button>
                    </form>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="row row-form-content">
                {% for element in sqlite_hashtags %}
                     <form action="{{url_for('deletetable')}}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input id="hashtag_table" name="hashtag_table" type="hidden" value="{{element[0]}}">
                        <button class="waves-effect waves-light btn button-trash" type="submit"><span><i class="fas fa-trash-alt" style=" color: #e63c2e"></i> {{ element[0] }}</span></button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

<script src="{{url_for('static', filename='js/manage_db.js')}}"></script>
{% endblock %}
