{% extends 'base.html' %}
{% block styles %} {{super()}}
    <!-- Data Tables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTables-example').dataTable();
        });
    </script>


{% endblock %}


{% block content %}
<div class="dashboard-cards">
    <br>
<div class="row row-form-title">
    Common trends for both cities
    <br>
    <p>Press the twitter button to join the discussion.</p>
</div>
<br><br>

<div class="row row-form-content">
    <div class="card table-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTables-example">
                <thead>
                <tr>
                    <th class="center">Hashtag</th>
                    <th class="center">Link</th>
                </tr>
                </thead>
                <tbody>
                {% for trend in clean_trends %}
                <tr class="odd gradeA">
                    <td class="center">#{{trend}}</td>
                    <td class="center"><a target="_blank" href="https://twitter.com/search?q={{trend}}&src=typd"
                                          class="waves-effect waves-light btn-small" id="btn-tiny"><i
                            class="fab fa-twitter"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
        </div>
</div>

</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>
{% endblock %}
