{% extends 'base.html' %} {% block content %}


<div class="dashboard-cards">
<br>
<div class="row row-form-title">
    {{ count }} Most popular tweets for "{{keyword}}" keyword
    <br>
    <p> Min. retweets threshold - {{ min_retweets }} </p>
</div>
<br><br>
    <div class="row row-form-tweets">

            {% for element in most_popular_tweets %}
            <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="card tweet">
                <p>{{element[0]}}</p>
                &mdash; {{element[2]}}
                <a target="_blank" href="https://twitter.com/">{{element[1]}}</a>
                <br>
                <span><h5><i class="fas fa-retweet"></i> {{element[3]}}</h5></span>
            </div>
            </div>
            {% endfor %}

    </div>
</div>
<br>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large light-green darken-2" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>
{% endblock %}
