{% extends 'base.html' %}

{% block extrahead %}
<link href="{{url_for('static', filename='css/data.css')}}" rel="stylesheet"/>
{% endblock %}

{% block row_header %}
<div class="row row-header">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-4 col-lg-2 text-right">

            <img src="{{url_for('static', filename='img/main/retweets.jpg')}}" class="img responsive img-header">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
            <div class="row row-summary">
                <h5>Popular Retweets</h5>
                <p>Specify the keyword search, min. retweets threshold and max. search results<p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="dashboard-cards">

    <div class="row row-cards">
        <div class="col-md-4">
            <form class="col s12" id="formTransaction">
                <div class="card form-card">
                    <div class="card-content">
                        <span class="card-title">Retweet Search</span>
                        <div class="input-field">
                            <img class="img-responsive prefix" src="{{url_for('static', filename='img/data/searched_keyword.jpg')}}"/>
                            <input id="keyword" name="keyword" type="text" class="validate" required>
                            <label for="keyword">Searched Keyword </label>
                        </div>
                        <div class="input-field">
                            <img class="img-responsive prefix" src="{{url_for('static', filename='img/data/min_retweets.jpg')}}"/>
                            <input id="retweets" name="retweets" type="number" class="validate" required>
                            <label for="retweets">Min. Retweets</label>
                        </div>
                        <div class="input-field">
                            <img class="img-responsive prefix" src="{{url_for('static', filename='img/data/search_results.jpg')}}"/>
                            <input id="count" name="count" type="number" class="validate" max="50" required>
                            <label for="count">Search Results (max.50)</label>
                        </div>

                    </div>

                    <button type="submit" class="btn-card" id="modalClose"><span><i class="fas fa-terminal"></i> Submit </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="row row-cards"></div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

{% endblock %}
