{% extends 'base.html' %}

{% block extrahead %}
<link href="{{url_for('static', filename='css/data.css')}}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="row row-title">
    <div class="card card-title">
        <div class="row row-blue">
            <h1><i class="fas fa-retweet"></i> &nbsp; Popular Retweets </h1>
        </div>
        <form method="POST" id="popularRetweets">
            <div class="row row-form-s6 plain-element">

                <div class="input-field">
                    <input id="keyword" name="keyword" type="text" class="validate" required>
                    <label for="keyword">Searched Keyword </label>
                </div>
            </div>
            <div class="row row-form-s6 plain-element">
                <div class="input-field">
                    <input id="retweets" name="retweets" type="number" class="validate" required>
                    <label for="retweets">Min. Retweets</label>
                </div>
            </div>
            <div class="row row-form-s6 plain-element">
                <div class="input-field">
                    <input id="count" name="count" type="number" class="validate" max="50" required>
                    <label for="count">Search Results (max.50)</label>
                </div>
            </div>
            <div class="row row-button text-center">
                <button class="btn-trends" target="_blank" href=""><i class="fas fa-search" ></i> &nbsp; Find
                    Tweets
                </button>
            </div>
            <br>
        </form>
    </div>
</div>
<div class="row row-cards">
    <div class="loader popular-loader"></div>
    <div class="col-md-12 plain-element" id="tweetColumnLong">

    </div>
</div>



<script src="{{url_for('static', filename='js/popular_retweets.js')}}"></script>

{% endblock %}


