/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/


.row-cards {
    width: 70%;
    display: table;
    margin-bottom: 50px;
}



.col {
    display: table-cell;
}



/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/


.card-transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-align: left;
    width: 100%;
    margin: auto;
    color: black;
    font-size: 1.2rem;
    text-shadow: 1px 1px #d1d1d1;

}

.card-transparent a {
    font-size: 14px;
    color: #0366d6;
    font-weight: 600;

}

.keyword {
    background-color: #f1f8ff;
    color: #0366d6;
    margin: 0 .5em .5em 0;
    padding: .3em .9em;
    font-weight: 600;
    border-radius: 5px;
}

.keyword:hover {
    background-color: #def;
}

/*------------------------------------------------------------------------------
    IMAGES
------------------------------------------------------------------------------*/

.img-blog {
    width: 90%;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);

}

/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/


@media(max-width:1700px) {

    .row-title {
        width: 95%;
        font-size: 1.5rem;

    }

    .row-cards {
        width: 95%;
        margin-bottom: 50px;
    }


    .fixed-action-btn {
       right: 50px;
       bottom: 80px;

    }

    .keyword {
        font-size: 1rem;
    }

}

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:993px) {

    .row-title {
        width:90%;
        font-size: 1.5rem;

    }

    .row-cards {
        width: 80%;
        margin-bottom: 10px;
    }

    .row-form {
        width: 50%;
    }



    .fixed-action-btn {
       right: 50px;
       bottom: 80px;

    }

    .keyword {
        font-size: 0.8rem;
    }

    .img-blog {
        margin-bottom: 20px;
    }

}


/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:522px) {

    .row-title {
        width:100%;
        text-align: center;
        margin-bottom: 20px;

    }

    .row-title h3 {
        font-size: 2.5rem;

    }

    .row-cards {
        width: 100%;
        margin-bottom: 50px;
    }



    .fixed-action-btn {
       right: 50px;
       bottom: 80px;

    }



}