/*------------------------------------------------------------------------------
    MAIN  STYLES    
------------------------------------------------------------------------------*/

body {
    font-family: 'Jura', sans-serif;
    position: relative;
    background-color: #e8e8e8;
    margin: 0;
    padding-bottom: 0;
}


#wrapper {
    width: 100%;

}

#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 55px;
    min-height: 800px;

}

#page-index a {
    text-decoration: none;
    outline: 0;
}

.text-center {
    text-align: center;
}



.plain-element {
    margin:0px;
    padding: 0px;
}

.warning {
    color: red;
}


.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

#error {
    color: red;
    display:none;
}

.header {
    height: 100px;
    margin: 0px;
}


#messageAlert {

    color: red;
    text-align: center;
    font-size: 1.5rem;
    padding: 0px;
    margin: 0%;
}

.no-border {
    border:none !important;
}

/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/

.dashboard-cards {
    width: 90%;
    margin: auto;
}



.row-alert {
    min-height: 72px;
}


.row-title {
    width: 70%;
    margin: auto;
    margin-top: -2%;
    text-align: left;

}


.row-title h3 {
    font-size: 30px;
    font-weight: 800;
    color: black;
    text-shadow: 1px 1px #D1D1D1;
}

.row-title p {
    color: #868e96;
    font-size: 12px;
    text-shadow: 1px 1px #ECECEC;
    margin-left: 5px;
}


.row-cards {
    width: 70%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.row-form {
    width: 20%;
    text-align: center;
}



/*------------------------------------------------------------------------------
    CARDS
------------------------------------------------------------------------------*/


.card-menu {
    width: 90%;
    border-color: #eee #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    margin: auto;

}


.card.horizontal .card-image {
    max-width: 30%;
}


.card .card-content {
    padding: 8px 12px 8px 12px;
    text-align: left;
    font-size: 12px;
    color: black;

}

.card .card-content h5 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.4rem;
    color: black;
    text-shadow: 1px 1px #D1D1D1;

}

.card .card-action {
    border-top: none;
    padding: 3%;

}

/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-enter {

    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 1.1rem;
    font-weight: bold;
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #003f67;
    font-family: 'Jura', sans-serif;
}

.btn-enter i {
    font-size: 0.8rem;
}

.btn-enter:hover, .btn-enter:focus, .btn-enter:active {
    background: transparent;
    background-color: transparent;
    color: green;
}


.fixed-action-btn {
   right: 360px;
   bottom: 60px;

}


.btn-floating {
    background-color: #003f67;
}

.btn-floating i {
    font-size: 24px;
}

.btn-floating:hover,
.btn-floating:active,
.btn-floating:focus {
    background: #002740;
}

/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #8A8A8A;
    padding: 15px 0px;
    text-align: center;
}

.footer a {
    color: #8A8A8A;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}



/*------------------------------------------------------------------------------
    ANIMATIONS
------------------------------------------------------------------------------*/

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  margin-top: 20%;
  margin-left: 40%;
  display: none;
}

.popular-loader {
  margin-top: 10%;
  margin-left: 50%;

}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES     
------------------------------------------------------------------------------*/

/* MIN WIDTHS ----------------------------------------------------------------*/

@media(min-width:1450px) {
    .col-lg-3 {
        width: 16.6666667%;
    }

}



@media(min-width:768px) {


    #header_card p {
        font-size: 40px;
        color: white;
    }
}

/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/

@media(max-width:1810px) {





}

@media(max-width:1600px) {

    .row-form-tweets,
    .row-form-content,
    .row-form-title {
        width: 80%;
        padding: 5px;
    }

    .table-card-medium,
    .table-card {
        padding: 5px;
    }



    .home-button {
        width: 20%
    }

    .tweet {
        margin: 5px;
        width: auto;
        height: auto;
        min-height: 160px;
        font-size: 12px;
    }

    .card-top {
        font-size: 18px;
    }

    .card-middle {
        font-size: 13px;
        min-height: 120px;
    }
}

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:1200px) {

    .card-middle {
        font-size: 13px;
        min-height: 110px;
    }

    #title_card p {
        font-size: 24px;
        font-weight: bold;
        padding: 17px;
    }


    th,
    tr {
        font-size: 12px;
    }
}

@media(max-width:1056px) {




}

@media(max-width:993px) {

    .row-cards {
        text-align: center;
    }

    .row-form-tweets,
    .row-form-content,
    .row-form-title {
        width: 100%;
        padding: 5px;
    }

    .home-button {
        width: 50%
    }

    #navigation {
        padding: 3%;
    }
    .tweet {
        margin: 5px;
        width: auto;
        height: auto;
        min-height: 160px;
        font-size: 12px;
    }

    .form-submit-button {
        width: 60%;
    }

    .modal {
    width: 80%;
    }




}
@media(max-width:767px) {
    .tweet {
        margin: 20px 0px 20px 0px;
        width: auto;
        height: auto;
    }

    .button-etl-back,
    .button-etl {
        width: 60%;
        font-weight: bold;
        font-size: 1rem;
        padding: 3%;
        margin: 2%;

    }

    .row-form-title {
        font-size: 2rem;
    }



}



/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:521px) {


    #page-index {
        margin-top: 80px;
    }

    .card-panel {
        font-size: 12px;
        font-weight: bold;
        border-radius: 15px;
    }

    .input-field .prefix~input {
        width: 80%;
        margin-top: 5px;
    }
    .prefix~.select-wrapper {
        width: 70%;
    }
    .row-title,
    .row-cards {
    margin-left: 5px;
    }


    .dashboard-card {
        width: 100%
    }


}


@media(max-width:480px) {


}

@media(max-width:376px) {
    th,
    tr {
        font-size: 9px;
    }
}
