/*------------------------------------------------------------------------------
    MAIN  STYLES    
------------------------------------------------------------------------------*/
* {-webkit-font-smoothing: antialiased;}

@font-face {
    font-family: 'Open Sans Light';
    font-weight:  200 300;
    font-weight: normal;
    src: url('/static/fonts/TTF/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    src: url('/static/fonts/TTF/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight:  400 500;
    src: url('/static/fonts/TTF/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans Light';
    font-weight: 600 700;
    src: url('/static/fonts/TTF/OpenSans-Bold.ttf');
}

body {
    font-family: 'Open Sans Light';
    position: relative;
    background-color: #e6ecf0;
    margin: 0;
    padding-bottom: 0;
}



#wrapper {
    width: 100%;

}

#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 55px;
    min-height: 800px;

}

#page-index a {
    text-decoration: none;
    outline: 0;
}

.text-center {
    text-align: center;
}

.plain-element {
    margin:0px;
    padding: 0px;
}

a:hover {
    text-decoration: none !important;
}

#tweetColumn a {
    color: black;
}

#trends {
    padding-top: 10px;
    padding-right: 0px;
}

.img-icon {
    border-radius: 50%;
}


.fa-clipboard {
    margin-left: 20%;
    font-size: 16px;
    font-weight: bold;
}


.modal {
    width: 20%;
    height: 480px;
}

.modal-trigger {
    font-size: 12px;
}

/*------------------------------------------------------------------------------
    ROWS & COLUMNS
------------------------------------------------------------------------------*/

.dashboard-cards {
    width: 60%;
    margin: auto;
}

.row-title {
    width: 100%;
    margin: auto;
    text-align: center;

}

.row-form-s6 {
    width: 50%;
    margin: auto;
}

.row-form-s3 {
    width: 25%;
    margin: auto;
}


.row-title h1 {
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-bottom: 1%;
    margin-top: 0;
}

.row-title p {
    color: #657786;
    font-size: 12px;
    font-weight: 300;

}


.row-cards {
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 3%;
}

.row-blue {
    padding: 2%;
    background: #1da1f2;


}


.row-side-blue {
    height: 95px;
    min-height: 95px;
    margin: 0;
    background: #1da1f2;
    border: none;


}

.row-description {
    margin: 0px;
}

.row-description p {
    color: #657786;
    font-size: 0.8rem;
    margin-bottom: 5px;
    font-weight: 300;
    z-index: 5;
}

.row-trend {
    margin-bottom: 0px;
    height: 40px;

}

.row-side-trend {
    margin-bottom: 0px;
    height: 40px;
}

.row-button {
    margin: 3%;
}


.row-visit {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6ecf0;
}

#tweetColumn {
    max-height: 690px;
    overflow: auto;
}

#tweetColumn a:hover {
    color: #1DA1F2;
}


/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-trends {
    color: white;
    background: #4ab3f4;
    border-radius: 20px;
    border:none;
    box-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;

}

.btn-trends:hover,
.btn-trends:active,
.btn-trends:focus {
    background: #006dbf;
    color: white;
}


.btn-visit {
    color: #1DA1F2;
    background: #ffff;
    border-radius: 20px;
    border: 1px solid #1DA1F2;
    box-shadow: none;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 4px 12px;
    position: relative;
    text-align: center;
    margin-bottom: 0;
    text-transform: none;
}
.btn-visit:hover,
.btn-visit:active,
.btn-visit:focus {
    background: #e8f5fd;
}

.inline-button {
    background: none;
    box-shadow: none;
    border: none;
    color: #798b9a;
}

.inline-button:hover,
.inline-button:active,
.inline-button:focus {
    color: #1da1f2;
    background: none;
    box-shadow: none;
}

.btn-enter {
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #1DA1F2;
}

.btn-enter i {
    font-size: 0.8rem;
}

.btn-enter:hover, .btn-enter:focus, .btn-enter:active {
    background: transparent;
    background-color: transparent;
    color: green;
}





/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #8A8A8A;
    padding: 15px 0px;
    text-align: center;
}

.footer a {
    color: #8A8A8A;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}


/*------------------------------------------------------------------------------
    TABLE
------------------------------------------------------------------------------*/

.dataTables_info {
    display: none;
}

th {
    background: #f4faff;
    color: #14171a;
    font-size: 12px;
    border-bottom: 1px solid #8ccff8;
}

tr {
    font-size: 12px;
    color: #14171a;
}

td {
    padding: 10px 5px;
}

/*------------------------------------------------------------------------------
    ANIMATIONS
------------------------------------------------------------------------------*/

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  margin-top: 20%;
  margin-left: 40%;
  display: none;
}

.popular-loader {
    margin-top: 5%;
    margin-left: 40%;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/


@media(max-width:1700px) {

    .dashboard-cards {
        width: 80%;
    }


}

@media(max-width:1440px) {


    .row-trend {
        height: 50px;
    }

    .row-side-trend {
        height:  36px;
    }

    .card-data {
        height: 400px;
        min-height: 400px;
        overflow: auto;
    }

    .card-side h1 {
        font-size: 0.9rem;
    }

    .hashtag-icon {
        font-size: 32px;
        color: #fff;
        background: #1da1f2;
        padding: 15px 17px 15px 17px;
        border: 1px solid #A4D9F9;
        border-radius: 50px;
    }

    .card-side .card-content {
        padding-bottom: 1px;
    }

    .img-icon {
        width: 45px;
        height: 45px;
    }

    .card-projects p {
        font-size: 0.8rem;
    }

    .row-description p {
        font-size: 0.7rem;
    }

    .btn-visit {
        font-size: 9px;
        padding: 2px 12px;
    }

    .row-button {
        margin-bottom: 5%;
    }

    .card-side .card-content {
        padding-bottom: 4px;
    }


}



/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:993px) {
    .dashboard-cards {
        width: 100%;
    }

    .btn-visit {
        font-size: 9px;
    }


    .card-side h1 {
        font-size: 0.9rem;
    }

    .row-description p {
        font-size: 0.7rem;
    }

    .card-side .card-content {
        padding-bottom: 11px;
    }

    .img-icon {
        width: 36px;
        height: 36px;
    }

    .card-projects p {
    font-size: 0.76rem;
    }



}


/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:522px) {

    .dashboard-cards {
        width: 95%;
        margin-bottom: 80px;
    }

    #activeTrendsColumn {
        display: none;
    }

    .card-projects,
    .card-side {
        width: 98%;
    }

    .card-data {
        height: 360px;
        min-height: 360px;
        overflow: auto;
    }

    .img-icon {
        width: 48px;
        height: 48px;
    }

    .card-projects p {
    font-size: 0.9rem;
    }


}
