/*------------------------------------------------------------------------------
    ROWS $ COLUMNS
------------------------------------------------------------------------------*/




.header {
    display: none;
}

.row-header {
    max-height: 190px;
    margin: 0px;
    background: white;
    padding: 0 16% 0 13%;
}

.row-header h5 {
    color: black;
    font-weight: 800;
}



.row-summary {
    padding: 2% 0% 3% 0%;
    color: #333333 !important;
}




.row-title {
    width: 100%;
    color: #181818;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px #d1d1d1;
    margin-top: auto;
}


.row-cards {
    width: 70%;
    text-align: center;
}


.row-form-content {
    margin-bottom: 10px;
}



#tweetColumn {
    max-height: 510px;
    overflow: auto;
}

#tweetColumn a {
    color: black;
}

#tweetColumn a:hover {
    color: #1DA1F2;
}

/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/

.form-card {
  width: 95%%;
  background: #fff;
  color: black;
  padding-top: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 50px;
}


.form-card .card-content {
    text-align: center;
}


.card-tweet {
    width: 90%;
    margin: 0.5rem 2% 5% 8%;
    text-align: left;
    font-size: 0.8rem;
    line-height: 16px;
    border: 1px solid #e6ecf0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.30);
    padding: 4% 4% 2% 4%;
    float: left;
    font-family: Georgia;
    max-height: 140px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.card-tweet h5 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.card-tweet p {
    font-family: Georgia;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 20px;
    height: 60px;
}


.card-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

.card-tweet i {
    font-size: 0.8rem;
    color: #818286;
}

.card-tweet-narrow {
    padding: 1%;
    margin: 0.5rem 0% 2% 2%;
}


.card-tweet-narrow p {
    height: auto;
}


.icon-sentiment {
    font-size: 1.5rem !important;
    margin-top: 30%;
}

.card-data {
    text-align: left;
    border: 1px solid #e6ecf0;
    border-radius: 10px;
}

.card-data .card-title {
    font-weight: 800;
    padding: 15px 15px 10px 15px;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0px !important;
}

.card-data .card-content {
    padding: 15px;
    margin-top: 10px;
    padding: 0px;
    color: #1DA1F2;
    font-weight: 600;
    font-size: 1rem;
    max-height: 500px;
    overflow: auto;
}

.card-content-long {
    max-height: 600px  !important;
}


.card-data .card-content p {
    color: #657786;
    font-size: 0.8rem;
    margin-bottom: 5px;
    font-weight: 500;
}

.card-data .span-trend {
    color: #7f7f7f;
}


.card-sentiment {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 #A9A9A9, 0 3px 1px -2px #838383, 0 1px 5px 0 #838383;
    margin: 0.7rem 2% 5% 8%;
    display:none;

}


.card-sentiment .card-content .card-title {
    color: #1e3242;
    font-weight: bolder;
    font-size: 1.4rem;
    text-align: center;
}


.card-sentiment .card-content p {
    color: black;
    font-size: 0.8rem;
    text-shadow: 0px 1px #ebebeb;
}

.card-chart {
    background: white;
    height: 400px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    display: none;
}

/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-card {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #003f67;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Jura', sans-serif;

}

.btn-card:hover, .btn-card:active, .btn-card:focus {
    background-color: #003252;
}

.btn-card i{
    font-size: 0.8rem;
}

.btn-link {
    background: transparent;
    box-shadow: none;
    width: 80%;
    border-radius: 20px;
    font-size: 0.9rem;

}

.btn-link i {
    color: #1da1f2;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
   background: transparent;
   box-shadow: none;
   top: -2px;
}


.btn-header {
    border-radius: 5px;
    height: 32px;
    width: auto;
    background: #004f81;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Jura', sans-serif;
    line-height: 16px;
    color: white;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.30);
    display: none;
}

.btn-header i {
    font-size: 0.8rem;
}

.btn-header:hover,
.btn-header:focus,
.btn-header:active {
    color: white;
    background: #003252;
}


.btn-navigation {
    border-radius: 5px;
    height: 32px;
    width: auto;
    background: #004f81;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Jura', sans-serif;
    line-height: 16px;
    color: white;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.30);
    display: none;
}

.btn-navigation i {
    font-size: 0.8rem;
}

.btn-navigation:hover,
.btn-navigation:focus,
.btn-navigation:active {
    color: white;
    background: #003252;
}


.button-db {
    width: 100%;
    text-align: left;
    font-family: 'Jura', sans-serif;
    background-color: transparent;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: none;
    text-transform: inherit;

}

.button-db i {
    color: #E63C2E;
    font-size: 1rem;
}


.button-db:hover,
.button-db:focus,
.button-db:active {
    font-size: 1.2rem;
    background-color: #fcfcfc;
    box-shadow: none;
}

.btn-sentiment {
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}


.btn-sentiment p {
    margin-bottom: 1px;
    line-height: 16px;

}

.btn-sentiment:hover,
.btn-sentiment:focus,
.btn-sentiment:active {
    background-color: #794492;
    color: white;
}

/*------------------------------------------------------------------------------
    FORMS
------------------------------------------------------------------------------*/


input[type=text] {
    border-radius: 10px;
    border-color: #1a2026;
    background-color: #fff;
    color: black;
}

.input-field {
    width: 90%;
    margin: 10% 4% 10% 6%;

}

input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #003f67;
    box-shadow: 0 1px 0 0 #003f67;
}

input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
    color: #003f67;
}

[type="radio"]:not(:checked) + span::before {
        border: 2px solid #7f7f7f;
}

[type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after {
    border: 2px solid #1da1f2;
}

[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
    background-color: #1da1f2;
}

[type="radio"]:checked + span {
    color: #1da1f2;
    font-size: 1.2rem;

}

.input-field .prefix {
    left: -1rem;
    border-radius: 5px;

}

.max-tweets {
    width: 6% !important;
    margin-left: 2% !important;
    height: 1.5rem !important;
    text-align: center !important;

}

/*------------------------------------------------------------------------------
    MODALS
------------------------------------------------------------------------------*/

.modal {
    width: 20%;
    height: 550px;

}
/*------------------------------------------------------------------------------
    IMAGES
------------------------------------------------------------------------------*/

.img-header {
    margin-top: 8%;
    height: 160px;
    border-radius: 5px;
    border: 1px solid #e6ecf0;
}

/*------------------------------------------------------------------------------
    TABLES
------------------------------------------------------------------------------*/

.table-responsive {
    width: 95%;
    padding: 1%;
    margin: auto;
    overflow-x: hidden;

}

#twoCitiesTable {
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1%;
    border-bottom: 1px solid #fff;
}



.twoCitiesTables_wrapper .twoCitiesTables_filter {
    text-align: left !important;
}


tbody {
    max-height: 300px;
    overflow-y: auto;

}


.select-wrapper  {
    margin: 2% 2% 0% 2%;
    width: 20%;
    display: inherit;

}

.select-wrapper input.select-dropdown {
    text-align: center;
}

input[type="search"]:not(.browser-default) {
    width: 50%;

}

.dataTables_length {
    margin-left: -12%;

}


.table-bordered,
.table-bordered > thead > tr > th {
    border-color: transparent;
}



.table-bordered > tbody > tr > td {
    border-color: #dddddd;
    line-height: 2;
}

.table-bordered > thead > tr {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #f9f9f9;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}
