
/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/

.dashboard-cards {
    border: none;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom:10%;
    box-shadow: none;
    width: 100%;
    min-height: 600px;
    display: block;
    overflow: auto;
    background-image: url('../../static/img/backg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}


.row-title {
    width: 100%;
    background-color: #cfd4d8;
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px #a5a9ac;
    margin-left: 0px;
}

.row-cards {
    width: 100%;
    text-align: center;
    padding: 2% 1% 2% 1%;
}


.row-etl {
    margin: auto;
    width: 50%;
}

.row-form-title {
    margin: auto;
    width: 40%;
    background-color: #096e88;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px black;
    padding: 2px;
}

.row-form-title p {
    font-weight: 500;
    font-size: 1.5rem;
}

.row-form-title a  {
    color: #60bdf5;
}

.row-form-title a:hover  {
    color: #60e2f5;
}

.row-form-content {
    margin: auto;
    width: 40%;
    text-align: center;
}

.row-form-tweets {
    margin: auto;
    width: 60%;
    text-align: center;

}


.row-home-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.row-form-tables {
    margin: auto;
    width: 90%;
    text-align: center;

}


.dashboard-card {
    min-height: 240px;
    border-radius: 5px;
    width: 95%;
}

.card-top {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 5%;
    margin: 0px;
}

.card-middle {
    font-size: 13px;
    padding: 5%;
    text-align: left;
    margin: 0px;
    line-height: 1.2;
    min-height: 120px;
}

.card-bottom {
    text-align: center;
    padding: 10% 5% 5% 5%;
    margin: 0px;
}


.form-card {
    min-height: 180px;
    padding: 10% 25% 10% 25%;
    border-radius: 10px;
    background-color: #096e88;
    color: white;
    font-size: 18px;

}

.form-submit-button {
    background-color: #096e88;
    height: 42px;
}
.form-submit-button:focus {
    background-color: #0a7d9b !important;
    color: white; !important;
}
.form-submit-button:hover  {
    background-color: #0a7d9b;
    color: white;
}

#navigation {
    color: white;
    background-color: #6ba546;
    width: 60%;
    font-weight: bold;
    font-size: 1.4rem;
    padding: auto;
    margin: auto;
    height: 3.2rem;
}

.home-button {
    width: 12%;
    height: 44px;
    padding: 10px;
    background-color: #1a2026;
    font-size: 14px
}

.home-button:hover, active, focus {
    color: black;
    background: white;
}


.table-card {
    background-color: white;
    padding: 20px 120px 20px 120px;
    border-radius: 10px;
    max-height: 800px;
    overflow: auto;
}


.table-card-medium {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 800px;
    overflow: auto;
}



.tweet {
    width: 468px;
    height: 150px;
    padding: 15px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.30);
    margin: 20px;
    padding: 16px;
    float: left;
}

.tweet p {
    font-family: Georgia;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.tweet a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    outline: 0 none;
}

.tweet i {
    font-size: 16px;
    color: #818286;
}



.trend-card {
    background-color: white;
    display: block;
    overflow: auto;
    padding: 2% 2% 2% 4%;
    border-radius: 10px;
}

.form-span {
    display: ruby;
}

.form-span #count {
    width: 10%;
}


.button-etl {
    color: white;
    background-color: #6ba546;
    width: 60%;
    font-weight: bold;
    font-size: 1.6rem;

}

.button-etl-back {
    color: white;
    background-color: grey;
    width: 60%;
    font-weight: bold;
    font-size: 1.6rem;

}


.button-etl:focus,
.button-etl:hover {
    background-color: white !important;
    color: #558438 !important;
}

.button-etl-back:focus,
.button-etl-back:hover,  {
    background-color: white !important;
    color: #696969 !important;
}

.modal {
    width: 20%;
    height: 490px;
}

.button-sentiment {
    background-color: #096e88;
    display: block;
    width: 95%;
    height: 50px;
    font-size: 14px;
    text-align: left;
    margin: 10px;
    padding: 4%;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.30);
}
.button-sentiment:focus,
.button-sentiment:hover, active{
    background-color: white;
    color: #3577a0;
    text-shadow: none;
}


.button-sentiment i {
    font-size: 16px;
}



.button-trash {
    background-color: #096e88;
    display: block;
    width: 95%;
    height: 50px;
    font-size: 14px;
    text-align: left;
    margin: 10px;
    padding: 4%;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.30);
}
.button-trash:focus,
.button-trash:hover, active{
    background-color: white;
    color: #e63c2e;
    text-shadow: none;
}


.button-trash i {
    font-size: 16px;
}


#btn-tiny {
    width: 60%;
    height: 45%;
    padding-top: 0px;
    background-color: #29abe2;
}

#btn-tiny:hover {
    background-color: #e6ecf0;
    color: #29abe2;
}


.btn-sentiment {
    background-color: #6ba546;
    color: white;
    font-size: 20px;
    height: 80px;
    width: auto;
    border-radius: 20px;
}

.btn-sentiment:focus,
.btn-sentiment:hover {
    background-color: #60943f;
}


.btn-floating {
    background: #096e88;
}

.btn-floating i {
    font-size: 24px;
}

.btn-floating:hover,
.btn-floating:active {
    background: #0a7d9a;
}




/*------------------------------------------------------------------------------
    EDIT & ADD FORMS +
------------------------------------------------------------------------------*/
input[type="number"]:not(.browser-default):focus:not([readonly]), input.valid[type="number"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default), input.invalid[type="text"]:not(.browser-default):focus,
input.invalid[type="text"]:not(.browser-default), input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="text"]:not(.browser-default), input.valid[type="text"]:not(.browser-default), input[type="search"]:not(.browser-default),
input[type="search"]:not(.browser-default):focus:not([readonly]), input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default), input.invalid[type="number"]:not(.browser-default):focus,
input[type="number"]:not(.browser-default){
    border-bottom: none;
    box-shadow: none;
    color: white;
    text-align: center;
}

input[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default):focus,
input[type="text"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default),
 input.invalid[type="number"]:not(.browser-default){
    background-color: #0a7d9a;
    border-radius: 5px;
}



.dropdown-content li > a, .dropdown-content li > span {
    color: white;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 0px solid #26a69a;
}


[type="radio"]:not(:checked) + span {
    color: #484848;
    font-size: 1.4rem;

}

[type="radio"]:checked + span {
    color: #1988b7;
    font-size: 1.6rem;

}






/*------------------------------------------------------------------------------
    TABLES
------------------------------------------------------------------------------*/

.table-responsive {
    margin-bottom: 20px;
    width: 100%;
}

#dataTables-example-1_wrapper,
#dataTables-example-2_wrapper,
#dataTables-example_wrapper {
    margin: 2px;
}


table.dataTable, table.dataTable thead th {
    border: 1px solid  gray;
}

.dataTables_info {
    color:  #3577a0 !important;
    font-size: 1.5rem !important;
}

.dataTables_filter>label,
.dataTables_length>label {
        color:  #3577a0;
        font-size: 1.5rem;
}

.table.dataTable thead th{
    color: white;
    font-size: 18px !important;
}


#dataTables-example-1 tbody tr,
.table-striped > tbody > tr:nth-of-type(2n+1) {
    color: grey;
}


.table.dataTable tbody tr,
.table-striped > tbody > tr:nth-of-type(2n+1) {
    color: #3577a0;
    font-weight: bold;
}

.table-bordered > tbody > tr > td {
    border: 1px solid  gray;
    line-height: 1.5;
}

#dataTables-example-1 > thead {
    background-color:  grey;
}

.table.dataTable > thead {
   background-color:  #3577a0;
}

#dataTables-example-1_previous,
#dataTables-example-1_next,
#dataTables-example-2_previous,
#dataTables-example-2_next,
#dataTables-example_previous,
#dataTables-example_next {
    color: #3577a0 !important;
}

#dataTables-example-1_length,
#dataTables-example-2_length,
#dataTables-example_length {
    width: 10%;

}

#dataTables-example-1_length > label,
#dataTables-example-2_length > label,
#dataTables-example_length > label {
    display: ruby;
}


#dataTables-example-1_filter input[type="search"]:not(.browser-default),
#dataTables-example-1_filter input[type="text"]:not(.browser-default),
#dataTables-example-2_filter input[type="search"]:not(.browser-default),
#dataTables-example-2_filter input[type="text"]:not(.browser-default),
#dataTables-example_filter input[type="search"]:not(.browser-default),
#dataTables-example_filter input[type="text"]:not(.browser-default) {
    background-color: #f4f5f5;
    border-radius: 5px;
    width: 50%;
    color:  #3577a0;

}
#dataTables-example-1_length input[type="search"]:not(.browser-default),
#dataTables-example-1_length input[type="text"]:not(.browser-default),
#dataTables-example-2_length input[type="search"]:not(.browser-default),
#dataTables-example-2_length input[type="text"]:not(.browser-default),
#dataTables-example_length input[type="search"]:not(.browser-default),
#dataTables-example_length input[type="text"]:not(.browser-default) {
    background-color: #f4f5f5;
    border-radius: 5px;
    color:  #3577a0;
}

#dataTables-example-1 td,
#dataTables-example-2 td {
    height: 36px;
    font-size: 11px;
}

