{% extends 'base.html' %}


{% block content %}
<form method="POST" id="trendSearch">
    <div class="row row-title">
        <div class="card card-title">
            <div class="row row-blue">
                <h1 id="Text"><i class="fas fa-database"></i> &nbsp; Upload tweets into MongoDB </h1>
            </div>
            <div class="row plain-element row-warning"></div>
            <div class="row plain-element row-success"></div>
            <div class="row text-center">
                <a href="{{ url_for('manage_db') }}">
                    <div class="card card-menu card-menu-small text-left">
                        <div class="row plain-element">
                            <div class="row plain-element">
                                <div class="col-xs-4 col-sm-4 col-md-4 plain-element">
                                    <img src="{{url_for('static', filename='img/main/manage-db.jpg')}}"
                                         class="img img-card responsive"
                                         alt="manage db">
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                                    <h5>
                                        Tweet Data ETL
                                    </h5>
                                    <p>Manage Tweets in MongoDB & SQLite databases. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row plain-element text-center row-text">
                <p>Specify how many tweets you want to upload to database (max. 100)</p>
            </div>

            <div class="row row-form-s3 plain-element text-center">
                <div class="input-field">
                    <input id="count" name="count" type="number" class="max-tweets" max="100" placeholder="100"
                           required>
                    <label for="count"> </label>
                </div>
            </div>
        </div>
    </div>
    <div class="loader popular-loader"></div>
    <div class="row row-cards">
        <div class="card card-data">
            <div class="card-content" id="trendtData">
                {% for element in us_trends_list %}
                <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                    <p>
                        <label>
                            <input class="with-gap" id="trend" name="trend" type="radio" value="{{element}}"/>
                            <span class="span-trend">{{element}}</span>
                        </label>
                    </p>
                </div>
                {% endfor %}

            </div>
            <div class="row plain-element text-center" id="warningRow"></div>
            <div class="row"></div>
            <div class="row row-button text-center">

                <button class="btn-trends" target="_blank" href="" ><i class="fas fa-database"></i> &nbsp; Upload to DB
                </button>
            </div>
        </div>
    </div>


</form>

<script src="{{url_for('static', filename='js/trend_search.js')}}"></script>

{% endblock %}