<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Search Engine Meta-->
    <title>Twitter API Dashboard</title>
    <meta name="Description" content="Flask application hosting Twitter API. Main functionality allows user to find out what is currently trending and extract data sample to MongoDB.
    Once data sample is extracted, next step is to pre-process it and load to SQL database. Final step is to apply Keras LSTM model on processed tweets to find out what's the dominating sentiment
    among conversation participants - positive, negative or neutral.">
    <meta name="KeyWords" content="twitter, flask, api, sentiment analysis">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/septellar.png')}}"
          alt="logo small"/>
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- Custom Styles-->
    <link href="{{url_for('static', filename='css/custom-styles.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/data.css')}}" rel="stylesheet"/>
    <!-- jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block extrahead %}
    {% endblock %}
</head>


<body>
<!-- WRAPPER -->
<div id="wrapper">

    <!-- TOP NAVBAR -->
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">
                <i class="fab fa-twitter-square"></i><strong> Twitter API Dashboard</strong></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li><a class="nav-link" target="_blank" href="http://www.findmecity.com/">
                <i class="fas fa-globe"></i> WOEID Search Engine </a></li>
            <li><a class="nav-link" target="_blank" href="https://github.com/LukaszMalucha/"><i
                    class="fab fa-github"></i> GitHub</a></li>
            <li><a class='dropdown-trigger nav-link' href='#' data-target='dropdown1' id="user_dropdown"><i
                    class="fas fa-caret-down"></i> {{ current_user.email }}</a></li>
            <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
            </li>
        </ul>
    </nav>

    <!-- DROPDOWN -->
    <ul id="dropdown1" class="dropdown-content">
        {% if current_user.email != "Guest" %}
        <li><a href="{{ url_for('userlogout') }}" class="dropdown-link"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
        {% else %}
        <li><a href="{{ url_for('userlogin') }}" class="dropdown-link"><i class="fa fa-user fa-fw"></i> Log In</a>
        </li>
        <li><a href="{{ url_for('userregister') }}" class="dropdown-link"><i class="fas fa-tasks"></i> Register</a>
        </li>
        {% endif %}
    </ul>

    <!-- MOBILE -->
    <ul class="sidenav" id="mobile-demo">
        <li><a target="_blank" href="http://www.findmecity.com/">
                <i class="fas fa-globe"></i> WOEID Search Engine </a></li>
        <li><a target="_blank" href="https://github.com/LukaszMalucha/"><i
                class="fab fa-github"></i> GitHub</a></li>
        {% if current_user.email != "Guest" %}
        <li><a href="{{ url_for('userlogout') }}" class="dropdown-link"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
        {% else %}
        <li><a href="{{ url_for('userlogin') }}" class="dropdown-link"><i class="fa fa-user fa-fw"></i> Log In</a>
        </li>
        <li><a href="{{ url_for('userregister') }}" class="dropdown-link"><i class="fas fa-tasks"></i> Register</a>
        </li>
        {% endif %}
    </ul>

    <!--/. TOP NAVBAR ****************************************************************************************************************************************************************************************** -->

    <!-- PAGE-INDEX -->
    <div id="page-index">

        {% block row_header %}{% endblock %}
        <div class="dashboard-cards">
            <div class="row plain-element">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-push-3 col-md-push-3 col-lg-push-3 plain-element">
                    {% block content %} {% endblock %}

                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-pull-6 col-md-pull-6 col-lg-pull-6 col-lg-pull-6 plain-element">
                    <div class="row plain-element">
                        <div class="card card-side">
                            <div class="row row-side-blue"></div>
                            <div class="row row-description">
                                <div class="col-sm-4 col-md-4 plain-element text-center hashtag-column">
                                    <i class="fas fa-hashtag hashtag-icon"></i>
                                </div>
                                <div class="col-sm-8 col-md-8 plain-element col-features">
                                    <h1>Twitter API Features</h1>
                                    <p> Choose between API functions</p>
                                </div>
                            </div>
                            <a href="{{ url_for('trend_search') }}">
                                <div class="card card-menu">
                                    <div class="row plain-element">
                                        <div class="col-xs-4 col-sm-4 col-md-4 plain-element">
                                            <img src="{{url_for('static', filename='img/main/trend-search.jpg')}}"
                                                 class="img img-card responsive"
                                                 alt="retweets">
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                                            <h5>
                                                Trend Upload
                                            </h5>
                                            <p>Upload tweets into DB for sentiment analysis. </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{{ url_for('manage_db') }}">
                                <div class="card card-menu">
                                    <div class="row plain-element">
                                        <div class="col-xs-4 col-sm-4 col-md-4 plain-element">
                                            <img src="{{url_for('static', filename='img/main/manage-db.jpg')}}"
                                                 class="img img-card responsive"
                                                 alt="manage db">
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                                            <h5>
                                                Tweet Data ETL
                                            </h5>
                                            <p>Manage Tweets in MongoDB & SQLite databases. </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{{ url_for('sentiment_analysis') }}">
                                <div class="card card-menu">
                                    <div class="row plain-element">
                                        <div class="col-xs-4 col-sm-4 col-md-4 plain-element">
                                            <img src="{{url_for('static', filename='img/main/sentiment.jpg')}}"
                                                 class="img img-card responsive"
                                                 alt="retweets">
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                                            <h5>
                                                Sentiment Analysis
                                            </h5>
                                            <p>Apply LSTM neural network on Tweets data. </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{{ url_for('two_cities') }}">
                                <div class="card card-menu">
                                    <div class="row plain-element">
                                        <div class="col-xs-4 col-sm-4 col-md-4 plain-element">
                                            <img src="{{url_for('static', filename='img/main/two-cities.jpg')}}"
                                                 class="img img-card responsive"
                                                 alt="retweets">
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                                            <h5>
                                                The Tale of Two Cities
                                            </h5>
                                            <p>Find the common trends in two chosen locations. </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{{ url_for('popular_retweets') }}">
                                <div class="card card-menu">
                                    <div class="row plain-element">
                                        <div class="col-xs-4 col-sm-4 col-md-4 plain-element">
                                            <img src="{{url_for('static', filename='img/main/retweets.jpg')}}"
                                                 class="img img-card responsive"
                                                 alt="retweets">
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                                            <h5>
                                                Popular Retweets
                                            </h5>
                                            <p>Choose a keyword to find most popular related tweets. </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="row row-break"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 plain-element">
                    <div class="row plain-element">
                        <div class="card card-side">
                            <div class="row row-side-blue"></div>
                            <div class="row row-description">
                                <div class="col-sm-4 col-md-4 plain-element text-center hashtag-column">
                                    <i class="fas fa-hashtag hashtag-icon"></i>
                                </div>
                                <div class="col-sm-8 col-md-8 plain-element col-features">
                                    <h1>Top 10 US Trends </h1>
                                    <p>Updated every 60 seconds </p>
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="card-content">
                                    <div class="row row-button text-center">
                                        <a class="btn-trends" target="_blank" href="http://www.tweetever.com/">Top 10
                                            Trends</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-projects">
                    <div class="row plain-element">
                        <h1>Visit other projects</h1>
                    </div>
                    <br>
                    <div class="row plain-element row-visit">
                        <div class="col-xs-3 col-sm-3 col-md-3 plain-element">
                            <img src="{{url_for('static', filename='img/main/blockchain.jpg')}}"
                                 class="img responsive img-icon" alt="blockchain">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                            <p> Blockchain Example</p>
                            <button class="btn-visit" onclick="window.open('http://www.minerstartup.com')">Visit
                                Application
                            </button>
                        </div>
                    </div>
                    <div class="row plain-element row-visit">
                        <div class="col-xs-3 col-sm-3 col-md-3 plain-element">
                            <img src="{{url_for('static', filename='img/main/thompson.jpg')}}"
                                 class="img responsive img-icon" alt="thompson">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                            <p> Thompson Sampling</p>
                            <button class="btn-visit" onclick="window.open('http://www.thompsonsampling.com')">Visit
                                Application
                            </button>
                        </div>
                    </div>
                    <div class="row plain-element row-visit">
                        <div class="col-xs-3 col-sm-3 col-md-3 plain-element">
                            <img src="{{url_for('static', filename='img/main/quant.jpg')}}"
                                 class="img responsive img-icon" alt="quant">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                            <p> Quant Properties</p>
                            <button class="btn-visit" onclick="window.open('http://www.quantproperties.com')">Visit
                                Application
                            </button>
                        </div>
                    </div>
                    <div class="row plain-element row-visit">
                        <div class="col-xs-3 col-sm-3 col-md-3 plain-element">
                            <img src="{{url_for('static', filename='img/main/unflasking.jpg')}}"
                                 class="img responsive img-icon" alt="unflasking">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                            <p> Unflasking AI - Python </p>
                            <button class="btn-visit" onclick="window.open('http://www.unflasked.com')">Visit
                                Application
                            </button>
                        </div>
                    </div>
                    <div class="row plain-element row-visit">
                        <div class="col-xs-3 col-sm-3 col-md-3 plain-element">
                            <img src="{{url_for('static', filename='img/main/bepartisan.jpg')}}"
                                 class="img responsive img-icon" alt="bepartisan">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 plain-element">
                            <p> Be-partisan </p>
                            <button class="btn-visit" onclick="window.open('http://www.bepartisan.com')">Visit
                                Application
                            </button>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row header">
    <div id="messageAlert" class="alert alert-message" role="alert">
        {% block alert %} {% endblock %}
    </div>

</div>

<div class="footer">
    <p><a target="_blank"
          href="https://www.freeprivacypolicy.com/privacy/view/9b972ff9a2aaeda03f07216c15625791/">Privacy
        Policy</a> • © 2019 - 2020 www.unflasked.com - All Rights Reserved • Powered by Septellar &trade;</p>
</div>


<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<!-- Custom Js -->
<script src="{{url_for('static', filename='js/custom-scripts.js')}}"></script>


</body>

</html>
