{% extends 'base.html' %}


{% block content %}
<div class="row row-title">
    <div class="card card-title card-title-main">
        <div class="row row-blue">
            <h1><i class="fab fa-twitter"></i> Twitter API Dashboard </h1>
        </div>
        <div class="row plain-element">
            <div class="card card-sentiment visible card-frontpage">
                <div class="card-content">
                    <div class="card-image">
                        <img src="{{url_for('static', filename='img/data/twitter.jpg')}}">
                    </div>
                    <button class="btn-sentiment" id="flashButton">
                        <b>Welcome to Twitter API Dashboard</b>
                        <p> Find out what is currently trending and apply Keras LSTM model on processed tweets to discover what's the dominating sentiment among conversation participants - positive, negative or neutral...</p>
                    </button>

                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>
{% endblock %}







