{% extends 'base.html' %}


{% block content %}
<div class="dashboard-cards">
    <div class="row row-title">
        <h3>Twitter API Features</h3>
        <p><i class="fab fa-python"></i>&nbsp; Choose between Twitter API functionalities</p>
    </div>
    <div class="row row-cards">
        <div class="col-md-4">
            <div class="card horizontal card-menu">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/trend_search.jpg')}}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>
                            Trend Search
                        </h5>
                        <p>Find out what is currently trending in US. Pick most interesting subject and guide your data
                            through ETL. </p>
                    </div>
                    <div class="card-action">
                        <button onclick="window.location=''" type="submit"
                                class="btn-enter"><span><i class="fas fa-terminal"></i> Continue </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card horizontal card-menu">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/winter.jpg')}}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>
                            Tale of Two Cities
                        </h5>
                        <p>Find out what are the common trends in two chosen locations. </p>
                    </div>
                    <div class="card-action">
                        <button onclick="window.location=''" type="submit"
                                class="btn-enter"><span><i class="fas fa-terminal"></i> Continue </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card horizontal card-menu">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/retweets.jpg')}}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>
                            Popular Retweets
                        </h5>
                        <p>Choose a keyword and find out most popular tweets in a subject. </p>
                    </div>
                    <div class="card-action">
                        <button onclick="window.location=''" type="submit"
                                class="btn-enter"><span><i class="fas fa-terminal"></i> Continue </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-title">
        <h3>Deep Learning</h3>
        <p><i class="fab fa-python"></i>&nbsp; Deep learning application on Twitter data </p>
    </div>
    <div class="row row-cards">
        <div class="col-md-4">
            <div class="card horizontal card-menu">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/sentiment.png')}}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>
                            Sentiment Analysis
                        </h5>
                        <p>Apply LSTM on stored data to
                            find out what's the dominating sentiment among conversation participants. </p>
                    </div>
                    <div class="card-action">
                        <button onclick="window.location=''" type="submit"
                                class="btn-enter"><span><i class="fas fa-terminal"></i> Continue </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-title">
        <h3>App Utilities</h3>
        <p><i class="fab fa-python"></i>&nbsp; Various useful features </p>
    </div>
    <div class="row row-cards">
        <div class="col-md-4">
            <div class="card horizontal card-menu">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/manage_db.jpg')}}" class="img responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>
                            Manage Database
                        </h5>
                        <p>Get rid of obsolete collections from MongoDB or delete processed data from SQLite database. </p>
                    </div>
                    <div class="card-action">
                        <button onclick="window.location=''" type="submit"
                                class="btn-enter"><span><i class="fas fa-terminal"></i> Continue </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cards"></div>
</div>


{% endblock %}
