{% extends 'base.html' %}

{% block extrahead %}
<link href="{{url_for('static', filename='css/data.css')}}" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block row_header %}
<div class="row row-header">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-4 col-lg-2 text-right">

            <img src="{{url_for('static', filename='img/main/sentiment.png')}}" class="img responsive img-header">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
            <div class="row row-summary">
                <h5>Sentiment Analysis</h5>
                <p id="pDescription">Apply LSTM on stored data to find out what's the dominating sentiment among conversation
                    participants.</p>
                <br>
                <button class="btn-header"><i class="fas fa-chevron-circle-left"></i> Trend Search</button>
                <button class="btn-navigation" onclick="window.location='{{ url_for('manage_db') }}'"><i class="fas fa-chevron-circle-left"></i> Prepare Dataset</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="dashboard-cards">
    <div class="row row-cards">
        <div class="loader popular-loader"></div>
        <div class="col-md-3 plain-element">
            <div class="card card-data no-border">
                <div class="card-content card-content-long">
                    <span class="card-title">Tokenize Dataset</span>
                    <form method="POST" id="tokenizeDataset">
                        <div class="card-content">
                            {% for element in sqlite_hashtags %}
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <p>
                                        <label>
                                            <input class="with-gap" id="hashtag" name="hashtag" type="radio"
                                                   value="{{element.0 }}"/>
                                            <span class="span-sentiment">{{element.0 }}</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn-card"><span><i class="fas fa-terminal"></i> Tokenize </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 plain-element">
            <div class="card card-sentiment glow">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/data/sentiment.jpg')}}">
                </div>
                <button class="btn btn-card btn-sentiment" id="buttonSentiment">
                    <p id="sentiment"></p>
                    <p>Sentiment Analysis</p>
                </button>
            </div>
        </div>
    </div>
    <div class="row row-cards">
        <div class="col-md-4 plain-element">
            <div class="card card-chart">
            <canvas id="sentimentChart"></canvas>
            </div>
        </div>
        <div class="col-md-1 plain-element"></div>
        <div class="col-md-7 plain-element" id="tweetColumn">
        </div>

    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>

    </a>
</div>

<script src="{{url_for('static', filename='js/sentiment.js')}}"></script>


{% endblock %}