{% extends 'base.html' %} {% block content %}


<div class="dashboard-cards">
    <br>
    <div class="row row-form-title">
        Tweets Tokenization
        <br>
        <p>Prepare tweet data for algorithm implementation</p>
        {% if message %}
        <p style="color: red;"> {{ message }} </p>
        {% endif %}
    </div><br><br>
    <div class="row row-form-content" style="min-height: 450px">
        <br>
        {% for element in sqlite_hashtags %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">

        <form action="{{url_for('tweettokenizer')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input id="hashtag" name="hashtag" type="hidden" value="{{element[0]}}">
            <button class="waves-effect waves-light btn button-sentiment" type="submit"><span><i class="fas fa-smile-beam" style=" color: green; margin-right: 2px;"></i><i class="fas fa-angry" style=" color: #db0a15"></i> {{ element[0] }}</span></button>
        </form>
        </div>
        {% endfor %}
    </div>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>
{% endblock %}
<!--<div class="col-xs-6 col-md-6 col-lg-6 text-center">-->
            <!--<a href="{{ url_for('results', hashtag = element[0]) }}" class="waves-effect waves-light btn button-sentiment"><span><i class="fas fa-smile-beam" style=" color: green; margin-right: 2px;"></i><i class="fas fa-angry" style=" color: #db0a15"></i> {{ element[0] }}</span></a>-->
        <!--</div>-->