{% extends 'base.html' %} {% block content %}


<div class="dashboard-cards">
    <br>
    <div class="row row-form-title">
        Sentiment Analysis with Keras
        <br>
        <p>Press a button to proceed with algorithm implementation</p>
        {% if message %}
        <p style="color: red;"> {{ message }} </p>
        {% endif %}
    </div><br><br>
    <div class="row row-form-content" style="min-height: 450px">
        <br><br><br><br><br><br>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <form action="{{url_for('results')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input id="hashtag" name="hashtag" type="hidden" value="{{ hashtag }}">
                <button class="waves-effect waves-light btn-sentiment"  type="submit"><span><i class="fas fa-smile-beam"></i> {{ hashtag }} <i class="fas fa-angry"></i></span></button>
            </form>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>
{% endblock %}
<!--<div class="col-xs-6 col-md-6 col-lg-6 text-center">-->
            <!--<a href="{{ url_for('results', hashtag = element[0]) }}" class="waves-effect waves-light btn button-sentiment"><span><i class="fas fa-smile-beam" style=" color: green; margin-right: 2px;"></i><i class="fas fa-angry" style=" color: #db0a15"></i> {{ element[0] }}</span></a>-->
        <!--</div>-->